@charset "UTF-8";

body {
  background: #dde6ed;
  color: #57575f;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "MSPGothic", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
