@charset "UTF-8";
body {
  position: relative;
  height: 100%;
  background: #dde6ed;
  color: #57575f;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "MSPGothic", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: #56baf8; }

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

button {
  cursor: pointer; }

i {
  margin-right: 5px;
  vertical-align: 0 !important; }

.overlay, .overlay-trans {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10; }

.overlay-trans {
  background: transparent !important; }

.modal-body {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  margin: 250px -webkit-calc(50% - 200px);
  margin: 250px calc(50% - 200px);
  z-index: 20; }
  .modal-body .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff; }
  .modal-body .modal-title {
    margin: 0;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #fff;
    background: #3eb0f7; }
  .modal-body .post-box {
    padding-top: 0; }

.post-box {
  padding: 20px;
  background: #fff;
  overflow: hidden; }
  .post-box p {
    margin: 0; }
  .post-box textarea {
    width: 100%;
    margin-top: 20px;
    padding: 7px;
    resize: none;
    border: 1px solid #ccc; }
  .post-box button {
    float: right;
    margin-top: 20px;
    padding: 7px 25px;
    background: #3eb0f7;
    border-radius: 20px;
    color: #fff; }
  .post-box .is-disabled {
    opacity: 0.6;
    cursor: default; }

.delete-modal .modal-title {
  background: #f73e54; }

.delete-modal .post-box .feed-desc {
  margin-top: 20px; }

.delete-modal .post-box button {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  background: #f73e54;
  opacity: 1 !important;
  cursor: pointer !important; }

header {
  min-width: 900px;
  background: #fff;
  border-bottom: 1px solid #ccc; }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 900px;
    margin: 0 auto; }
    header .wrapper nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: auto; }
      header .wrapper nav a {
        display: block;
        padding: 20px 20px 10px;
        color: inherit;
        border-bottom: 4px solid transparent; }
        header .wrapper nav a:hover {
          border-bottom: 4px solid #3eb0f7; }
    header .wrapper .search-input {
      position: relative;
      margin-right: 20px; }
      header .wrapper .search-input input {
        padding: 3px 27px 3px 10px;
        border-radius: 20px;
        border: 1px solid #ccc; }
      header .wrapper .search-input i {
        position: absolute;
        top: 5px;
        right: 5px; }
    header .wrapper .cog-wrapper {
      position: relative; }
      header .wrapper .cog-wrapper .cog-btn {
        display: block;
        width: 27px;
        height: 27px;
        margin: 0 20px 0 0;
        color: inherit; }
      header .wrapper .cog-wrapper .cog-menu {
        display: none;
        position: absolute;
        top: 36px;
        right: 10px;
        width: 130px;
        padding: 0 20px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #ccc;
        -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        z-index: 30; }
        header .wrapper .cog-wrapper .cog-menu a {
          color: inherit; }
        header .wrapper .cog-wrapper .cog-menu i {
          margin: 0; }
        header .wrapper .cog-wrapper .cog-menu:before {
          content: "";
          position: absolute;
          top: -9px;
          right: 15px;
          margin-left: -9px;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 9px 9px 9px;
          border-color: transparent transparent #fff transparent;
          z-index: 2; }
        header .wrapper .cog-wrapper .cog-menu:after {
          content: "";
          position: absolute;
          top: -10px;
          right: 14px;
          margin-left: -10px;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent #ccc transparent;
          z-index: 1; }
    header .wrapper .post-btn {
      position: relative;
      display: block;
      width: 35px;
      height: 35px;
      margin-right: 10px;
      border-radius: 50%;
      background: #3eb0f7;
      color: #fff; }
      header .wrapper .post-btn i {
        position: absolute;
        top: 10px;
        left: 9px; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  margin: 50px auto; }

.side-column {
  margin-right: auto; }
  .side-column .profile {
    width: 300px;
    border: 1px solid #ccc; }
    .side-column .profile .name-box {
      position: relative;
      padding: 20px 20px 20px 135px;
      background: #3eb0f7; }
      .side-column .profile .name-box p {
        margin: 0;
        color: #fff; }
        .side-column .profile .name-box p a {
          color: #fff; }
      .side-column .profile .name-box .person-name {
        font-weight: bold;
        font-size: 1.1rem; }
      .side-column .profile .name-box .person-icon {
        position: absolute;
        top: -30px;
        left: 20px; }
        .side-column .profile .name-box .person-icon img {
          border-radius: 50%; }

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 510px;
  padding: 20px;
  background: #fff;
  overflow: hidden;
  border: 1px solid #ccc; }
  .feed .person-icon {
    margin-right: 10px; }
    .feed .person-icon img {
      border-radius: 50%; }
  .feed .name-date-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .feed .name-box {
    margin-right: auto; }
    .feed .name-box .person-name {
      font-size: 1.1rem;
      font-weight: bold; }
      .feed .name-box .person-name a {
        color: inherit; }
    .feed .name-box .person-id {
      margin-left: 5px; }
      .feed .name-box .person-id a {
        color: #aaa; }
  .feed .post-date {
    margin-top: 20px;
    color: #aaa; }
  .feed .comment {
    margin-top: 0; }
    .feed .comment > a:hover {
      text-decoration: underline; }
  .feed .main-img {
    height: 100px;
    overflow: hidden;
    border: 1px solid #aaa; }
    .feed .main-img img {
      width: 100%; }
  .feed .command-box {
    overflow: hidden; }
    .feed .command-box a {
      color: #aaa;
      text-decoration: none; }
    .feed .command-box > p {
      float: right;
      margin-left: 18px; }
      .feed .command-box > p:first-child {
        margin-left: 0; }
    .feed .command-box .reply {
      display: none;
      float: left;
      margin-right: auto; }
